
header {
  background: @header-background;
  .container {
    background: @header-container-background;
    padding-bottom: 7px;

    .row {
      display: flex;
      flex-direction: column;
      .app-name {
        padding-top: 7px;
        padding-bottom: 0px;
        font-size: 28px;
        line-height: 28px;
        margin: 0px;
        padding-left: 0px;
        //color: red;
      }
      .navbar-text {
        margin: 0px;
        padding-bottom: 5px;
        .pull-left;
        .btn.btn-link {
          padding: 0px;
        }

      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  header {
    min-height: auto;

    .container {
      .row {
        display: inherit;
        flex-direction: inherit;
        .app-name {
        }
        .navbar-text {
          padding-top: 12px;
          .pull-right;

        }

      }

    }
  }

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}