header {
  .container {
    padding-bottom: 15px;
    .row {
      display: block;
      .sub-header.small {
        padding-top: 3px;
      }
      .dropdown.navbar-text {
        .btn-link {
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  header {
    //min-height: 75px;
    margin-bottom: 0px;
    .container {
      .row {
        flex-direction: inherit;
        .navbar-text {
          //margin-right: 15px;
          //margin-left: 15px;
          margin-top: 0px;
          margin-bottom: 5px;
          float: left;
          padding-top: 7px;
          .small;
        }

      }
    }
  }

}


@media (min-width: @screen-md-min) {
  header {
    margin-bottom: 10px;
    .container {
      .app-name {
        width: 230px;
      }
      .sub-header.small {
        width: 230px;
      }
    }
  }

}
@media (min-width: @screen-lg-min) {

  header {
    .container {
      .app-name {
        width: 315px;
      }
      .sub-header.small {
        width: 315px;
      }
    }
  }

}
